.opening-crawl{
  display: flex;
  width: 100%;
}

.opening-crawl-container {
  width: 100%;
  margin-top: 0;
  padding: 0;
  color: gold;
  background-color: black;
}

.crawl-div{
}

@media screen and (max-width: 768px) {

  .opening-crawl-container{
    height: 30rem;
  }

  .crawl-div{
    width: 45rem;
  }
  
}
