/* SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.search-bar-input {
  background-color: #0c1d32;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
}

.search-bar-input i {
  color: #ffbf00; /* Yellow */
  margin-right: 10px;
}

.search-bar-input input {
  border: none;
  background: transparent;
  color: #ffbf00; /* Yellow */
  font-size: 1rem;
  width: 100%; /* Take up full width */
}

select {
  padding: 10px;
  font-size: 1rem;
  background-color: #0c1d32;
  color: #ffbf00; /* Yellow */
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 10px; /* Added margin on top for better spacing on smaller screens */
}

.search-button {
  background-color: #ffbf00; /* Yellow */
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px; /* Added margin on top for better spacing on smaller screens */
}

.search-button i {
  transition: transform 0.1s ease-in-out;
  margin-right: 10px;
  color: #0c1d32;
}

.search-button i:hover {
  transform: translateY(-4px);
}
