.moviepage-container {
    display: flex;
    flex-direction: column;
    color:#e1dcca;
    background-color: #000; /* Dark background */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 120vh;
  }
  .movie-buttons button{
    color: goldenrod;
    font-size: 15px;
    height: 100%;
    border-radius:  50px;
    width:auto;
    align-items: center;
    justify-content:center;
  }

  .movie-buttons button:hover{
    color: gold;
    transform: scale(1.07);
  }

  .film-button:hover{
    background: linear-gradient(90deg, goldenrod, gold);
    color: rgb(247, 246, 242);
    border: 1px solid #ffc600;
  }

  .film-button{
    background: linear-gradient(90deg, gold, goldenrod);
    display:flex;
    width: auto;
    color: rgb(250, 250, 247);
    border-radius: 50px;
    height: 100%;
    align-items: center;
    justify-content:center;
  }
  
  .movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%; 
    height: 100%;
  }

  .movie-items img{
    width: 100%;
    height: 100%;
  }


  .movie-items {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ffc600; /* Yellow border */
    padding: 20px;
    margin-top: 5rem;
    box-shadow: 0 2px 4px rgba(255, 198, 0, 0.5); /* Yellow box shadow */
    background-color: #1a1a1a; /* Dark background */
    color: #e5dec5; /* Yellow text */
    border-radius: 8px; 
  }

  .button-details{
    display: flex;
    flex-direction:column;
  }
  
  .movie-items h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .movie-items p {
    margin-top: 0px;
    width: 100%;
  }
  
  /* Adjust styling as needed */
  